// app global css in SCSS form
:root {
  --text-multiplier: 1;
}
// fonts
@font-face {
  font-family: PlayfairDisplay;
  src: url(./fonts/PlayfairDisplay.ttf);
}
// h1,
// h2,
// h3 {
//   font-family: 'PlayfairDisplay', 'serif';
// }

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}

// responsive text
@media only screen and (max-width: 768px) {
  :root {
    --text-multiplier: 1.6;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --text-multiplier: 1.6;
  }
}

@media only screen and (min-width: 1125px) {
  :root {
    --text-multiplier: 1.9;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --text-multiplier: 2;
  }
}

/* Declare text styles using calc() function and the multiplier */
h1 {
  font-size: calc(32px * var(--text-multiplier));
  line-height: calc(48px * var(--text-multiplier));
  font-family: 'PlayfairDisplay', 'serif';
}
h2 {
  font-size: calc(20px * var(--text-multiplier));
  line-height: calc(30px * var(--text-multiplier));
  font-family: 'PlayfairDisplay', 'serif';
}
h3 {
  font-size: calc(12px * var(--text-multiplier));
  line-height: calc(18px * var(--text-multiplier));
  font-family: 'PlayfairDisplay', 'serif';
}
p {
  font-size: calc(7px * var(--text-multiplier));
  line-height: calc(10px * var(--text-multiplier));
}
q {
  font-size: calc(7px * var(--text-multiplier));
  line-height: calc(10px * var(--text-multiplier));
  text-align: justify;
}
div {
  font-size: calc(8px * var(--text-multiplier));
  line-height: calc(12px * var(--text-multiplier));
}

.underline {
  border-bottom: 2px solid $primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}
html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #202122;
}

*::-webkit-scrollbar {
  width: 1vh;
  height: 0.6vh;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  // background-image: -webkit-linear-gradient(
  //   45deg,
  //   rgba(255, 255, 255, 0.2) 25%,
  //   transparent 25%,
  //   transparent 50%,
  //   rgba(255, 255, 255, 0.2) 50%,
  //   rgba(255, 255, 255, 0.2) 75%,
  //   transparent 75%,
  //   transparent
  // );
}
